html,body
{
	height: 100vh;	
}

.container
{
	display: flex;
	flex-direction: column;
	justify-content : center;
	align-items: center;
	border: 2px solid grey;
	min-height: 100vh;
	background-color: orange;
}
form
{
	display: flex;
	flex-direction: column;
}
form
{
	margin-top: 75%;
}
